<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hola, @context.User.Identity.Name!</a>
        <a href="Identity/Account/LogOut">Cerrar Sesion</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrar</a>
        <a href="Identity/Account/Login">Iniciar Session</a>
    </NotAuthorized>
</AuthorizeView>

@code{


}