@page "/"
@attribute [Authorize]

<h1>Gestion de Servicios Farmaceuticos</h1>

<div class="container-fluid">

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nueva Categoría</div>
                            <img src="https://drogueria-isofer.com/SistemaInventarioFacturacion/Resource/desboard/img/categoria.png" alt="..."
                                 class="img-rounded">
                            <a type="button" href="categoria" 
                               class="btn btn-secondary">Categoria</a>
                        </div>
                        <div class="col-auto">
                            <i class="text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="text-center col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nuevo Proovedor</div>
                            <img src="https://drogueria-isofer.com/SistemaInventarioFacturacion/Resource/desboard/img/proveedor.png" alt="..."
                                 class="img-rounded">
                            <a type="button" href="proveedor" 
                               class="btn btn-secondary">Proveedor</a>
                        </div>
                        <div class="col-auto">
                            <i class="text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 text-center">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1 ">Nuevo Cliente</div>

                            <img src="https://drogueria-isofer.com/SistemaInventarioFacturacion/Resource/desboard/img/cliente.png" alt="..."
                                 class="img-rounded">

                            <a type="button" href="clientes" 
                               class="btn btn-secondary">Clientes</a>
                        </div>
                        <div class="col-auto">
                            <i class="text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 text-center">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Nuevo Producto</div>
                            <img src="https://drogueria-isofer.com/SistemaInventarioFacturacion/Resource/desboard/img/producto.png" alt="..."
                                 class="img-rounded">
                            <a type="button" href="producto" class="btn btn-secondary"
                               onclick="getcaterogias()">Producto</a>
                        </div>
                        <div class="col-auto">
                            <i class="fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

     
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="text-center col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ventas</div>
                            <img src="https://drogueria-isofer.com/SistemaInventarioFacturacion/Resource/desboard/img/venta.png" alt="..."
                                 class="img-rounded">
                            <a type="button" href="ventas" class="btn btn-secondary">Nueva Venta</a>
                        </div>
                        <div class="col-auto">
                            <i class="text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      
    </div>

</div>

